body{
    background: rgb(73, 72, 72);
}
#container{
    background: #fff;
    width: 800px;
    margin: 10px auto;
    padding: 5px;
}
h1{
    position: static;
}
p{
    position: static;
    width: 300px;
}
.relative{
    border: 1px solid red;
    position: relative;
    top: -20px;
    left: 80px;
}