*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

/*----LAYOUT----*/

#area-cabecalho{
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
    border:2px solid #4e4e4e;
}
#area-logo, #area-menu{
    padding: 10px;
}
#principal{
    width: 920px;
    margin: 0 auto;
}
#area-postagens, #menu-lateral{
    background-color: aqua;
}
#area-postagens{
    width: 660px;
    float: left;
}
#menu-lateral{
    width: 240px;
    float: right;
}
.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}
#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background: lightgray;
}
/*----FORMATAÇÕES Menu----*/
a:link, a:visited{
    color: white;
    text-decoration: none;
    padding: 5px 9px;
}

a:hover{
    background-color: white;
    color: #f7b600;
    padding: 7px 9px;
}

/*----FORMATAÇÕES EM GERAL----*/

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}
.branco{
    color: white;
}
